.container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px 40px;
    cursor: pointer;
    border-radius: 2px;
    transition-delay: 0.15;
    color: rgb(59, 55, 55);
}
.container:hover{
    border: 2px solid #d1411e;
    
}
.title{
    color: #d1411e;
    font-size: 18px;
    font-weight: 600;
}
.price{
    
    font-size: 18px;
    font-weight: bold;
}
.description{
  display: block;
  width: 90%;
}
@media screen and (max-width: 480px) {
    .container {
      width: 100%;
    }
  
    .title {
      font-size: 30px;
    }
  
    .price,
    .description{
      font-size: 24px;
    }
  }